<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <!-- Шапка -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(90deg, #28a745, #17a2b8);">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Мои путешествия</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link fw-bold" href="/">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold active" href="/blog">Блог</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="/contacts">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Заголовок страницы -->
    <div class="container text-center my-5">
      <h1>Блог о путешествиях</h1>
      <p class="lead">А вы здесь бывали?</p>
    </div>

    <!-- Карточки -->
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <!-- Калининград -->
        <div class="col">
          <div class="card text-center h-100 border-primary">
            <img src="../static/image/kal.jpg" class="card-img-top" alt="Калининград">
            <div class="card-body">
              <h5 class="card-title">Калининград</h5>
              <p class="card-text">Город с европейским шармом и богатой историей. Обязательно посетите Кафедральный собор и Рыбную деревню.</p>
              <a href="#" class="btn btn-primary">Читать далее</a>
            </div>
          </div>
        </div>

        <!-- Казань -->
        <div class="col">
          <div class="card text-center h-100 border-success">
            <img src="../static/image/kaz.jpg" class="card-img-top" alt="Казань">
            <div class="card-body">
              <h5 class="card-title">Казань</h5>
              <p class="card-text">Столица Татарстана, где Восток встречается с Западом. Увидеть можно не только мечеть Кул-Шариф и Казанский Кремль</p>
              <a href="#" class="btn btn-success">Читать далее</a>
            </div>
          </div>
        </div>

        <!-- Ростов-на-Дону -->
        <div class="col">
          <div class="card text-center h-100 border-primary">
            <img src="../static/image/rnd.jpg" class="card-img-top" alt="Ростов-на-Дону">
            <div class="card-body">
              <h5 class="card-title">Ростов-на-Дону</h5>
              <p class="card-text">Южная столица России. Прогуляйтесь по набережной Дона и попробуйте местную кухню.</p>
              <a href="#" class="btn btn-primary">Читать далее</a>
            </div>
          </div>
        </div>

        <!-- Светлогорск -->
        <div class="col">
          <div class="card text-center h-100 border-success">
            <img src="../static/image/sv.jpg" class="card-img-top" alt="Светлогорск">
            <div class="card-body">
              <h5 class="card-title">Светлогорск</h5>
              <p class="card-text">Уютный курортный городок на Балтийском море. Идеальное место для спокойного отдыха.</p>
              <a href="#" class="btn btn-success">Читать далее</a>
            </div>
          </div>
        </div>

        <!-- Екатеринбург -->
        <div class="col">
          <div class="card text-center h-100 border-primary">
            <img src="../static/image/ekb.jpg" class="card-img-top" alt="Екатеринбург">
            <div class="card-body">
              <h5 class="card-title">Екатеринбург</h5>
              <p class="card-text">Столица Урала. Здесь можно увидеть уникальные памятники архитектуры и природы.</p>
              <a href="#" class="btn btn-primary">Читать далее</a>
            </div>
          </div>
        </div>

        <!-- Крым -->
        <div class="col">
          <div class="card text-center h-100 border-success">
            <img src="../static/image/crimea.jpg" class="card-img-top" alt="Крым">
            <div class="card-body">
              <h5 class="card-title">Крым</h5>
              <p class="card-text">Солнце, море и горы. И огромное количество мест, которые стоит посетить.</p>
              <a href="#" class="btn btn-success">Читать далее</a>
            </div>
          </div>
        </div>
      </div>
    </div>







    <!-- Футер -->
    <footer class="bg-dark text-white text-center py-3">
      <p>© 2025 Мой сайт о путешествиях</p>
    </footer>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>