<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <p>Вы должны выложить {{number}}
        {% if number == 1 %}
            пост
        {% elif 2 <= number <= 4 %}
            поста
        {% else %}
            постов
        {% endif %}
    </p>
    <p>
        {% for user in users %}
        {{user}}
        {% endfor %}
    </p>
    <p>
        {% for string in poem %}
        {{string}}</br>
        {% endfor %}
    </p>


</body>
</html>